@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

body {
    color: #FFF;
    background-color: #141414;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

span {
    color: rgb(144, 238, 144);
    text-transform: uppercase;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: rgb(218, 165, 32);
}

a:hover {
    color: rgb(0, 150, 255);
    text-decoration: underline;
}

h2 {
    margin: 0.2rem;
    font-weight: 300;
    text-align: center;
}

.subtitle {
    font-size: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-me {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me img {
    max-width: 200px;
    margin: 2.5rem 0.6rem 0.6rem 0.6rem;
}

@media (max-width: 700px) {
    .about-me {
        width: 90%;
    }
}

table {
    width: 50%;
}

table,
td {
    padding: 2rem;
}

@media (max-width: 600px) {
    table {
        width: 80%;
    }

    table,
    td {
        padding: 0.5rem;
    }
}

.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    border: none;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.3rem;
    padding: 1.2rem 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: rgb(144, 238, 144);
}

.form-submit textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    resize: none;
    font-size: 1.2rem;
    padding: 0;
    margin-top: 0.3rem;
    padding: 1.2rem 0;
}

form button {
    cursor: pointer;
    width: 100%;
    background-color: rgb(79, 177, 79);
    color: rgb(255, 255, 255);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1.2rem;
    font-size: 1.2rem;
}

form button:hover {
    color: rgb(144, 238, 144);
    background-color: rgb(25, 25, 112);
}

::placeholder {
    color: rgb(25, 25, 112);
}

@media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control {
        width: 100%;
        margin-top: 0.3rem;
    }
}